* {
    margin: 0px;
}

body {
    background-image: url(../images/greyzz_@2X.png);
    height: 100%;
}

.page-wrap {
    min-height: 100%;
    margin-bottom: -25px;
}

.page-wrap:after {
    content: "";
    display: block;
}

footer, .page-wrap:after {
    height: 25px;
}

/* This section for across the top of the page. */

.top {
    overflow: auto;
    background-color: #ffffff;
    border-bottom: solid 2px #dddddd;
    margin: 0px 0px 30px 0px;
    height: 100px;
    width: 100%;
}

header {
    float: left;
    background-color: #4aaaa5;
    text-align: center;
    height: 100px;
    padding: 0px 15px 0px 15px;
    margin-left: 150px;
}

h1 {
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 25px 10px 25px 10px;
}

nav {
    float: right;
    margin: 45px 200px 45px 0px;
    color: #777777;
    font-family: Arial, 'Helvetica neue', Helvetica, sans-serif;
}

#links, li {
    list-style-type: none;
    display: inline;
}

/* Middle content of the page */


.content {
    clear:both;
    width: 960px;
    background-color: #ffffff;
    border: solid thin #dddddd;
    margin: 30px auto;
    padding: 20px;
    position: relative;
}

h2 {
    color: #777777;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 20px;
}

p {
    color: #777777;
    font-family: Arial, 'Helvetica neue', Helvetica, sans-serif;
    padding: 10px;
}

/* Content Elements only on index */

#stacypic {
    float: left;
    height: 200px;
    width: 150px;
    padding: 20px;
}

/* Content Elements only on portfolio */

.portpic {
    position: relative;
    height: 200px;
    width: 200px;
    margin: 20px;
    border: solid thin lightgrey;
}

.label {
    position: absolute;
    bottom: 50px;
    background-color: #4aaaa5;
    color: #ffffff;
    width: 100%;
    height: 30px;
    text-align: center;
    padding-top: 15px;
}

#pic1{

}

#pic2 {
    
}

#pic3 {
    
}

#pic4 {
    
}

#pic5 {
    
}

/* Content Elements only on contact */

form {
    padding: 10px;
}

#button {
    background-color: #4aaaa5;
    color: #ffffff;
    text-align: center;
    border: solid thin #dddddd;
    padding: 10px 5px 10px 5px;
    margin-top: 10px;
}

/* Footer across bottom of page */

footer {
    color: #777777;
    font-family: Arial, 'Helvetica neue', Helvetica, sans-serif;
    background-color: #666666;
    text-align: center;
    padding-bottom: 0;
    padding-top: 20px;
    border-top: solid 5px #4aaaa5;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

